@using KusteezFormApp.Models

@model FormDetails
@{
    ViewData["Title"] = "Home Page";
}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>

</script>
<link rel="stylesheet" href="~/css/index.css?v=9" />

<div class="titleSection">
    <div class="imageLogo">
        <img src="~/images/kusteez.jpeg" height="100" width="100" />
    </div>
    <div class="titlePage">
        <h3>Print your Gamer Tag on a clothing of your choice</h3>
    </div>
</div>

<div class="formSection">
    @using (Html.BeginForm("Submit", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken();
        @Html.ValidationSummary(true);

        <div class="gamerTagSection">
            <div class="editor-label">
                Gamer Tag!
            </div>

            <div class="editor-field">
                @Html.EditorFor(model => model.gamerTag)
            </div>
        </div>
        <br />
        <div class="clothingSection">
            <div class="clothingTitle">
                <h2>Vêtement / Clothing</h2>
            </div>
            <div class="clothingOptions">

                @Html.RadioButtonFor(model => model.clothingType, "TS", new { id = "TS" })
                @Html.Label("TS", "T-SHIRT 20.00$")

                @Html.RadioButtonFor(model => model.clothingType, "TSF", new { id = "TFS" })
                @Html.Label("TSF", "T-SHIRT FEMME 20.00$")

                @Html.RadioButtonFor(model => model.clothingType, "H", new { id = "H" })
                @Html.Label("H", "HOODIE 35.00$")

                @Html.RadioButtonFor(model => model.clothingType, "LT", new { id = "LT" })
                @Html.Label("LT", "LONG TEE 25.00$")

                @Html.RadioButtonFor(model => model.clothingType, "PO", new { id = "PO" })
                @Html.Label("PO", "PULL-OVER 30.00$")
                <br />
                @Html.RadioButtonFor(model => model.clothingType, "LEM", new { id = "LEM" })
                @Html.Label("LEM", "LAN ETS MERCH 5.00$ (Print only/Impression seulement")
            </div>
        </div>

        <div class="dropDownSection">
            <div class="sizeSection">
                <h4>Size</h4>
                @Html.DropDownListFor(model => model.sizeCode, new SelectList(Model.sizes, "cd", "descr", ""), new { @class = "btn-default" })
            </div>
            <div class="clothingColorSection">
                <h4>Clothing Color</h4>
                @Html.DropDownListFor(model => model.clothesColorCode, new SelectList(Model.clothesColor, "clothColCode", "clothColDescr", ""), new { @class = "btn-default" })
            </div>
            <div class="printColorSection">
                <h4>Print Color</h4>
                @Html.DropDownListFor(model => model.printColorCode, new SelectList(Model.printColor, "printColCode", "printColDescr", ""), new { @class = "btn-default" })
            </div>
        </div>

        <div class="printLocationSection">
            <h3>Front Jersey</h3>
            <div class="editor-field">
                @Html.EditorFor(model => model.frontJersey)
            </div>

            <div class="sleeveSection">
                <h3>Left Sleeve Jersey</h3>
                <div class="editor-field">
                    @Html.EditorFor(model => model.leftSleeveJersey)
                </div>

                <h3>Right Sleeve Jersey</h3>
                <div class="editor-field">
                    @Html.EditorFor(model => model.rightSleeveJersey)
                </div>
            </div>

            <h3>Top Back Jersey</h3>
            <div class="editor-field">
                @Html.EditorFor(model => model.topBackJersey)
            </div>

            <h3>Bottom Back Jersey</h3>
            <div class="editor-field">
                @Html.EditorFor(model => model.bottomBackJersey)
            </div>

        </div>
        <br />

        <div class="confirmationSection">
            <div class="price">
                <h4>Cost: @Html.DisplayFor(model => model.estimatedCost)</h4>
            </div>

            @Html.CheckBoxFor(model => model.confirmationButton)
            @Html.Label("confirm", "Confirmation")
            @*@Html.RadioButtonFor(model => model.confirmationButton, "yes", new { id = "yesButton" })
                @Html.Label("confirm", "Confirmation")*@

        </div>
        <br />
        <button type="submit" style="margin-left: 45%;" value="submit">Submit</button>
        <br/>
    }

</div>

