@using KusteezFormApp.Models

@model FormDetails
@{
    ViewData["Title"] = "Home Page";
}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="/scripts/jquery.validate.unobtrusive.js"></script>

<script>

</script>
<link rel="stylesheet" href="~/css/index.css?v=3" />

<div class="titleSection">
    <div class="imageLogo">
        <img src="~/images/kusteez.jpeg" height="100" width="100" />
    </div>
    <div class="titlePage">
        <h3>Print your Gamer Tag on a clothing of your choice</h3>
    </div>
</div>

<div class="formSection">
    @using (Html.BeginForm("Submit", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken();
        @Html.ValidationSummary(true);

        <br />
        <div class="clothingSection">
            <div class="clothingTitle">
                <h2>Vêtement / Clothing</h2>
            </div>
            <div class="clothingOptions">

                @Html.RadioButtonFor(model => model.clothingType, "TS", new { id = "TS" })
                @Html.Label("TS", "T-SHIRT (20$)")

                @Html.RadioButtonFor(model => model.clothingType, "H", new { id = "H" })
                @Html.Label("H", "HOODIE (35$)")

                @Html.RadioButtonFor(model => model.clothingType, "ZH", new { id = "ZH" })
                @Html.Label("ZH", "ZIP HOODIE (35$)")

                @Html.RadioButtonFor(model => model.clothingType, "C", new { id = "C" })
                @Html.Label("C", "CAPS (25$)")

                @Html.RadioButtonFor(model => model.clothingType, "P", new { id = "P" })
                @Html.Label("P", "PILLOWCASE (25$)")
                <br />
                @Html.RadioButtonFor(model => model.clothingType, "PT", new { id = "PT" })
                @Html.Label("PT", "PERFORMANCE TEE (30$)")

                @Html.RadioButtonFor(model => model.clothingType, "B", new { id = "B" })
                @Html.Label("B", "BANDANA (25$)")

                @Html.RadioButtonFor(model => model.clothingType, "PO", new { id = "PO" })
                @Html.Label("PO", "PRINT ONLY")


            </div>
            <div style="color: red">
                @Html.ValidationMessageFor(m => m.clothingType, "", new { @class = "error" })
            </div>
        </div>

        <div class="dropDownSection">
            <div class="sizeSection">
                <h4>Size</h4>
                @Html.DropDownListFor(model => model.sizeCode, new SelectList(Model.sizes, "cd", "descr", ""), new { @class = "btn-default" })
                <div style="color: red">
                    @Html.ValidationMessageFor(m => m.sizeCode, "", new { @class = "error" })
                </div>
            </div>
            <div class="clothingColorSection">
                <h4>Clothing Color</h4>
                @Html.DropDownListFor(model => model.clothesColorCode, new SelectList(Model.clothesColor, "clothColCode", "clothColDescr", ""), new { @class = "btn-default" })
                <div style="color: red">
                    @Html.ValidationMessageFor(m => m.clothesColorCode, "", new { @class = "error" })
                </div>
            </div>
            <div class="printColorSection">
                <h4>Print Color</h4>
                @Html.DropDownListFor(model => model.printColorCode, new SelectList(Model.printColor, "printColCode", "printColDescr", ""), new { @class = "btn-default" })
                <div style="color: red">
                    @Html.ValidationMessageFor(m => m.printColorCode, "", new { @class = "error" })
                </div>
            </div>

        </div>
        <div class="laceColorSection">
            <h4>Lace Color (5$)</h4>
            @Html.DropDownListFor(model => model.laceColorCode, new SelectList(Model.laceColor, "laceColorCode", "laceColorDesc", ""), new { @class = "btn-default" })
        </div>
        <div class="fontSection">
            <div class="fontTitle">
                <h4>Fonts</h4>
            </div>

            <div class="fontOptions">

                @Html.RadioButtonFor(model => model.fontType, "JM", new { id = "JM" })
                @Html.Label("JM", "JERSEY M54")

                @Html.RadioButtonFor(model => model.fontType, "N", new { id = "N" })
                @Html.Label("N", "NOTEWORTHY")

                @Html.RadioButtonFor(model => model.fontType, "BN", new { id = "BN" })
                @Html.Label("BN", "BEBAS NEUE")

                @Html.RadioButtonFor(model => model.fontType, "D", new { id = "D" })
                @Html.Label("D", "DEATHWISH")

                @Html.RadioButtonFor(model => model.fontType, "H", new { id = "H" })
                @Html.Label("H", "HELVETICA")

            </div>
            <div style="color: red">
                @Html.ValidationMessageFor(m => m.fontType, "", new { @class = "error" })
            </div>
        </div>
        <div class="printLocationSection">
            <h3>Front(10$)</h3>
            <div class="editor-field">
                @Html.EditorFor(model => model.frontJersey)
            </div>

            <div class="sleeveSection">
                <div class="leftSleeveSection">
                    <h3>Left Sleeve(5$)</h3>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.leftSleeveJersey)
                    </div>
                </div>

                <div class="rightSleeveSection">
                    <h3>Right Sleeve(5$)</h3>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.rightSleeveJersey)
                    </div>
                </div>
            </div>

            <h3>Top Back(10$)</h3>
            <div class="editor-field">
                @Html.EditorFor(model => model.topBackJersey)
            </div>

            <h3>Bottom Back(10$)</h3>
            <div class="editor-field">
                @Html.EditorFor(model => model.bottomBackJersey)
            </div>

        </div>
        <br />
        <div class="commentSection">
            <div class="commentTitle">
                <h4>Comments</h4>
            </div>
            <div class="commentBox">
                @Html.TextAreaFor(model => model.comments, new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div class="customerInfoSection">
            <div class="phoneNumberSection">
                <h4>Phone Number</h4>
                <div class="editor-field">
                    @Html.EditorFor(model => model.phoneNumber)
                </div>
            </div>

            <div class="ticketNumberSection">
                <h4>Ticket Number</h4>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ticketNumber)
                </div>
                <div style="color: red">
                    @Html.ValidationMessageFor(m => m.ticketNumber, "", new { @class = "error" })
                </div>
            </div>
        </div>

        <div class="confirmationSection">
            <div class="price">
                <h4>Cost: @Html.DisplayFor(model => model.estimatedCost) $</h4>
            </div>

            @Html.CheckBoxFor(model => model.confirmationButton)
            @Html.Label("confirm", "Confirmation")
            @*@Html.RadioButtonFor(model => model.confirmationButton, "yes", new { id = "yesButton" })
                @Html.Label("confirm", "Confirmation")*@

        </div>
        <br />
        <button type="submit" value="submit">Submit</button>
        <br />
    }

</div>

