@using KusteezDisplayApp.Models;
@*@model IList<KusteezDisplayApp.Models.FormInformation>;*@
@model FormInformation;
@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/index.css?v=1" />

<div class="informationTable">

    <div class="tableTitle"><h2>Orders</h2></div>
    <table border="1" class="displayTable " >
        <tr>
            <th>Status</th>
            <th>Order ID</th>
            <th>Gamer Tag</th>
            <th>Clothing</th>
            <th>Size</th>
            <th>Print Color</th>

        </tr>
       @foreach (FormInformation info in Model.OrdersList)
       {
        <tr>
            <td>@info.status</td>
            <td>@info.orderID</td>
            <td>@info.gamerTag</td>
            <td>@info.clothingType</td>
            <td>@info.size</td>
            <td>@info.printColor</td>

        </tr>
       }
    </table>

    <div class="editor-field">
        @Html.EditorFor(model => model.completedID)
    </div>
    
    <button type="submit" style="margin-left: 45%;" value="Confirm">CONFIRM</button>
</div>




