@using KusteezDisplayApp.Models;
@*@model IList<KusteezDisplayApp.Models.FormInformation>;*@
@model FormInformation;
@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/index.css?v=4" />

<style type="text/css">
    
    .Not{
        background-color: red;
    }

</style>

<div class="informationTable">

    <div class="tableTitle"><h2>Orders</h2></div>
    <table border="1" class="displayTable ">
        <tr>
            <th>Status</th>
            <th>Order ID</th>
           
            <th>Clothing</th>
            <th>Size</th>
            <th>Print Color</th>
            <th>Lace Color</th>
            <th>Font</th>
            <th>Price</th>
            <th>Front</th>
            <th>Left Sleeve</th>
            <th>Right Sleeve</th>
            <th>Top Back</th>
            <th>Bottom Back</th>
            <th>Phone Number</th>
            <th>Ticket Number</th>
            <th>Comments</th>
        </tr>
        @foreach (FormInformation info in Model.OrdersList)
        {
            <tr class="@info.status">
                <td>@info.status</td>
                <td>@info.orderID</td>
                <td>@info.clothingType</td>
                <td>@info.size</td>
                <td>@info.printColor</td>
                <td>@info.laceColor</td>
                <td>@info.font</td>
                <td>@info.finalCost</td>
                <td>@info.frontJersey</td>
                <td>@info.leftSleeveJersey</td>
                <td>@info.rightSleeveJersey</td>
                <td>@info.topBackJersey</td>
                <td>@info.bottomBackJersey</td>
                <td>@info.phoneNumber</td>
                <td>@info.ticketNumber</td>
                <td>@info.comments</td>
            </tr>
        }
    </table>

   
</div>

<div class="completedSection">
    @using (Html.BeginForm("Confirm", "Home", FormMethod.Post))
    {
        <h4>Enter an Order ID that is completed</h4>
        <div class="editor-field">
            @Html.EditorFor(model => model.completedID)
        </div>
    <br/>
        <button type="submit"  value="Confirm">CONFIRM</button>
    }
</div>




